@import '../../sass/mixins';
@import '../../sass/variables';

.dropdown {
  border-radius: 6px;
  @include glassDark(15px, rgba(52, 52, 52, 0.6));
  box-shadow: 0 0 0 0.5px rgba(255, 255, 255, 0.7), 0 0 0 2px rgba(0, 0, 0, 0.5);

  .list {
    padding: 4px;

    .option {
      @include fontRegular;
      font-size: 14px;
      color: $white;
      padding: 4px 6px;
      border-radius: 4px;
      cursor: default;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      &:hover {
        background-color: $darkBlue;
      }
    }

    .separator {
      height: 1px;
      margin: 4px 8px;
      background-color: rgba(108, 108, 108, 0.6);
    }
  }
}
