@import './variables';

@mixin fontLight {
  font-family: "SF Pro", sans-serif;
  font-weight: 100;
}

@mixin fontRegular {
  font-family: "SF Pro", sans-serif;
  font-weight: 400;
}

@mixin fontSemiBold {
  font-family: "SF Pro", sans-serif;
  font-weight: 500;
}

@mixin fontBold {
  font-family: "SF Pro", sans-serif;
  font-weight: 700;
}

@mixin glass {
  background-color: rgba(255, 255, 255, 0.3);
  box-shadow: 0 10px 15px rgb(0, 0, 0, 0.2), inset 1px 0 10px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(33px);
  background-blend-mode: overlay;
}

@mixin glassDark {
  background-color: rgba(0, 0, 0, 0.4);
  box-shadow: 0 10px 15px rgb(0, 0, 0, 0.2), inset 0 0 0 1px rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(33px);
  background-blend-mode: overlay;
}