$blue: #007bff;
$darkBlue: #0b84ff;
$green: #35c75a;
$darkGreen: #31d158;
$purple: #5856d7;
$darkGreen: #5e5ce6;
$orange: #ff9503;
$darkOrange: #ffa00f;
$rose: #ff2c55;
$darkRose: #ff375e;
$magenta: #ae53de;
$darkMagenta: #bf5af2;
$red: #fe3c30;
$darkRed: #ff3b44;
$aqua: #5ac8fb;
$darkAqua: #62d3ff;
$yellow: #ffcc02;
$darkYellow: #fed709;
$black: #000000;
$white: #ffffff;
$grey: #1a1c1e;
$lightGrey: #838385;