@import '../../sass/mixins';
@import '../../sass/variables';

.topBarContainer {
  @include glass;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 6px;
  box-shadow: none;

  .topBarMain,
  .topBarSecond {
    display: flex;
  }
}
