@import '../../sass/mixins';
@import '../../sass/variables';

.barIconContainer {
  width: 64px;
  height: 64px;
  position: relative;
  cursor: pointer;
}

.barIcon {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
