@import '../../sass/mixins';
@import '../../sass/variables';

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: $black;

  .logo {
    width: 64px;
    height: 64px;
    object-fit: contain;
    margin-bottom: 32px;
  }

  .progress {
    width: 250px;
  }
}

.enter {
  opacity: 1;
}

.enterActive {
  opacity: 1;
  transition: 0.3s opacity ease-in-out;
}

.exit {
  opacity: 1;
}

.exitActive {
  opacity: 0;
  transition: 0.3s opacity ease-in-out;
}