@import '../../sass/mixins';
@import '../../sass/variables';

.timeContainer {
  display: flex;
  align-items: center;
  padding: 0 12px;

  .date {
    font-size: 14px;
    color: $white;
    @include fontRegular;
    margin-right: 8px;
  }

  .time {
    font-size: 14px;
    color: $white;
    @include fontRegular;
  }

}
