@import '../../../sass/mixins';
@import '../../../sass/variables';

.members {
  display: flex;
  flex-wrap: wrap;

  .memberCard {
    display: flex;
    flex-direction: column;
    margin-right: 16px;
    margin-bottom: 16px;
    border-radius: 8px;
    @include glassDark;
    padding: 8px;

    .avatar {
      object-fit: cover;
      margin-bottom: 8px;
    }

    .name {
      font-size: 14px;
      color: $white;
      @include fontRegular
    }
  }
}
