@import '../../sass/mixins';
@import '../../sass/variables';

.window {
  border-radius: 5px;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  align-items: stretch;
  @include glass;

  &.active {
    z-index: 1;
  }

  .sideBar {
    width: 200px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    border-right: 1px solid black;


    .sideBarHeader {
      height: 50px;
      border-bottom: 1px solid black;
      display: flex;
      align-items: center;
      padding: 0 16px;

      .sidebarHeaderActions {
        .action {
          margin-right: 8px;

          &:last-child {
            margin-right: 0;
          }
        }

        .action > * {
          opacity: 0;
          transition: 0.2s opacity ease;
        }

        &:hover {
          .action > * {
            opacity: 1;
          }
        }
      }
    }

    .sideBarBody {
      flex-grow: 1;
      height: calc(100% - 50px);
    }
  }

  .main {
    width: calc(100% - 200px);
    display: flex;
    flex-direction: column;

    .mainHeader {
      flex-shrink: 0;
      height: 50px;
      border-bottom: 1px solid black;
    }

    .mainBody {
      flex-grow: 1;
      height: calc(100% - 50px);
    }
  }
}
