@import '../../sass/mixins';
@import '../../sass/variables';

.window {
  border-radius: 14px;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  align-items: stretch;
  overflow: hidden;
  box-shadow: 0 0 0 0.5px rgba(255, 255, 255, 0.7), 0 0 0 2px rgba(0, 0, 0, 0.5);

  &.active {
    z-index: 1;

    .sideBar {
      @include glassDark(15px, rgba(52, 52, 52, 0.6));

      .sideBarHeader {
        .sidebarHeaderActions {
          .action {
            filter: grayscale(0) !important;
          }
        }
      }
    }
  }

  .sideBar {
    width: 180px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    border-right: 1px solid black;
    background-color: #343434;

    .sideBarHeader {
      height: 50px;
      display: flex;
      align-items: center;
      padding: 0 16px;

      .sidebarHeaderActions {
        .action {
          filter: grayscale(1);
          margin-right: 8px;

          &:last-child {
            margin-right: 0;
          }
        }

        .action > * {
          opacity: 0;
          transition: 0.2s opacity ease;
        }

        &:hover {
          .action > * {
            opacity: 1;
          }
        }
      }
    }

    .sideBarBody {
      flex-grow: 1;
      height: calc(100% - 50px);
    }
  }

  .main {
    width: calc(100% - 180px);
    display: flex;
    flex-direction: column;

    .mainHeader {
      flex-shrink: 0;
      height: 50px;
      border-bottom: 1px solid black;
      background-color: #343434;
    }

    .mainBody {
      flex-grow: 1;
      height: calc(100% - 50px);
      background-color: #282828;
    }
  }
}
