@import '../../sass/mixins';
@import '../../sass/variables';

.menuBarContainer {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 16px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menuBarWrapper {
  padding: 4px;
  @include glassDark;
  border-radius: 20px;
  height: 100%;
}

.menuBar {
  display: flex;
}
