@import '../../sass/mixins';
@import '../../sass/variables';

.container {
  position: relative;

  .popup {
    top: 100%;
    right: 0;
    width: 250px;
    padding: 8px 16px;
    border-radius: 8px;
    position: absolute;
    opacity: 0;
    pointer-events: none;
    transition: 0.3s opacity ease-in-out;
    @include glassDark;

    &.show {
      opacity: 1;
      pointer-events: all;
    }

    .popupHeader {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .popupBody {
      .connected {
      }

      .disconnected {

      }
    }

    .label {
      font-size: 14px;
      @include fontRegular;
      display: inline-block;
      color: $white;
      margin: 0;
    }
  }
}
