@import 'sass/mixins';
@import 'sass/variables';

.fira {
  width: 100vw;
  height: 100vh;
  background-color: $white;
  background-image: url("./assets/wallpaper.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  @include fontRegular;
}
